# fly.toml app configuration file generated for sparc-todo-api on 2025-01-24T01:34:21Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'sparc-todo-api'
primary_region = 'lax'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
